addons:
  chrome: stable

language: node_js
node_js:
  - "8"

branches:
  only:
    - master
    - feature/travis

before_script:
  - npm install -g @angular/cli
  - npm install

script:
  - ng build --prod --aot

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep-history: true
  local_dir: dist/tailor-notes-ui
  on:
    branch: master