:host {
  // position : fixed;
  width    : 100%;
  z-index  : 1;
  box-shadow: 0px 8px 6px 6px rgba(0, 0, 0, 0.1);
  background: 
  linear-gradient(127deg, rgba(0,255,0,.3), rgba(0,255,0,.5) 70.71%),
  linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0.5) 70.71%),

}

#page-header{

  display: flex;
  align-items: center;
  color: #fff;

  .row{
    
    &.first-row {

      display: flex;
      align-items: center;  /* vertical alignment */
      width: 100%;      
      margin: 15px 0 10px 0;
      padding: 0 5px;

      .item {
        flex: 1; //give all items equal width
        // background: #eee;
        box-sizing: border-box; //makes padding part of the width of each item
        margin:0 5px;

        &.logo{
          flex: none; /* make this flex item inflexible, so width property controls its width entirely */
          width: 40px;
          text-align: center;
          // box-shadow:
          // 0 0 50px #fff,            /* outer white */
          // -10px 0 10px #f0f,        /* outer left magenta */
          // 10px 0 10px #0ff;         /* outer right cyan */
        }
      }

      .mat-icon{
        font-size: 30px;
        width: auto;
      }

      .logo{
        color: rgba(0, 68, 102, 0.9);
        padding: 10px;
        border-radius: 100px;
        border: solid thin rgba(0, 68, 102, 0.9);
      }

      .search{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        a{
          padding: 0 0 0 10px;
        }
      }


    }
  }
}