/*-----------------------------------------------------------
 [Master StyleSheet for Header Component]

 Version: 1.0.0
 Date: 2/9/2019
 Description: This is the base style for the app's header 
------------------------------------------------------------*/
#page-header {
  background-color: #60B4D8;
  width: 100vw;
  min-height: 42px;

  .header-content{
    display: flex;
    flex-direction: row;

  .menu-btn {
    width: 35px;
    padding:0.5rem;
    max-height:60%;
    margin-left:6px;

    .app-menu span {
      display: block;
      color:#fff;
      padding:0;
      margin: 0;
      hr{
        border:1.5px solid #fff;
      }
    }
  }
  .page-title{
    align-self: center;
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
    height: 20px;
    margin-left:30px;
    display:inline-block;
  }
  .action-btn{
    height:100%;
    margin-left: auto;
    align-self: center;
    display: inline-flex;
    justify-content: center;
    margin-right:18px;
  }
}
}
