:host{
  .notes-list{
    padding: 0 10px;
    display: grid;
    grid-row-gap: 10px;
  }

  .floating-nav{
    position: fixed;
    bottom: 20px;
    right:10px;

    a{
      mat-icon{
      
        font-size: 4em;
        // box-shadow: 2px 2px 3px #999;
        // border-radius: 50px;
        // background-color:#25d366;
        color:#25d366;
        fill: white;
        height: auto;
        width: auto;
      }
    }
    
  }
}
