:host{
  .notes-list{
    padding: 0 10px;
    display: grid;
    grid-row-gap: 10px;
  }

  .floating-nav{
    position: fixed;
    bottom: 20px;
    right:10px;

    a{
      mat-icon{
      
        font-size: 4em;
        // box-shadow: 2px 2px 3px #999;
        // border-radius: 50px;
        // background-color:#25d366;
        color:#25d366;
        fill: white;
        height: auto;
        width: auto;
      }
    }
    
  }
}
.searchNotesContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom:0.6rem;
  .searchInput {
    width:90%;
    height:1.8rem;
    border-style:none none solid none;
    background-color: #fff;
    font-size:1.2rem;
  }
}