// :host{

// }

article.note-teaser{
    // margin: 0 5px;
    background: #fff;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 9fr;
    column-gap: 10px;
    font-size: 1em;
    cursor: pointer;

    .note-image{
        display: flex;
        align-items: center;
        justify-content: center;

        mat-icon{
            font-size: 3em;
            height: auto;
            width: auto; 
        }
    }

    .note-summary{
        margin-top: 5px;

        .field{
            display: inline-block;
            margin: 0 5px 0 0;
            padding: 5px;
            background: #2AA330;
            color: #fff;
            border-radius: 10px;
            font-size: 0.7em;

        }
    }

}

// box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];
